@mixin background($url, $col-1, $col-2) {
  background-image: linear-gradient(to left bottom, rgba($col-1, .5), rgba($col-2, .5)), url($url);
  background-position: center;
  background-size: cover;
}

@mixin respond ($breakpoint) {
  @if ($breakpoint ==phone) {
    @media only screen and (max-width: 50.5em) {
      @content
    }

    ; //600px
  }

  @if ($breakpoint ==tab-port) {
    @media only screen and (max-width: 56.25em) {
      @content
    }

    ; //900px
  }

  @if ($breakpoint ==tab-land) {
    @media only screen and (max-width: 75em) {
      @content
    }

    ; //1200px
  }

  @if ($breakpoint ==big-desktop) {
    @media only screen and (min-width: 90.5em) {
      @content
    }

    ; //1800
  }
}