.nav-box {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to left bottom,
      rgba($color-tertiary-light, .8),
      rgba($color-tertiary-dark-2, .8));
  padding: 2rem 0;
  border-radius: .5rem;
  width: 60vw;

  &_content {
    display: flex;
    cursor: grab;
    align-items: center;

    &:active {
      cursor: grabbing;
    }
  }
}

.imge-box {
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
  }

  width: 60vw;
  flex-shrink: 0;
  border-radius: 0.75rem;
  background-color: #374151;
  object-fit: cover;
}

.dot-box {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;

  * {
    margin-left: 0.5rem;
  }
}

.btn {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;

  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #6b7280;

  &.active {
    background-color: #fff;
  }
}


.grad {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 10vw;
  max-width: 100px;

  &_left {
    background-image: linear-gradient(to right,
        rgba(29, 29, 29, 0.5),
        rgba(29, 29, 29, 0));
    background-color: rgba(29, 29, 29, 0.5);
  }

  &_right {
    background-image: linear-gradient(to left,
        rgba(29, 29, 29, 0.5),
        rgba(29, 29, 29, 0));
    background-color: rgba(29, 29, 29, 0);
  }
}