.nav {
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    padding: 1rem 2rem;
    width: 60%;
    background-color: rgba($color-black, .7);
    box-shadow: -3px 3px 15px $color-white;
    border-radius: 2rem;
    transition: all .5s;
  }

  &-item {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    border-bottom: 2px solid #555;
    justify-content: space-between;
    align-items: center;
    color: $color-grey-dark;
    transition: .5s;

    &:hover {
      color: $color-white;
      border-bottom: 2px solid $color-white;

      .nav-header-title {
        transform: translateX(1rem) skewX(-20deg);

        &:nth-child(1) {
          transform: scale(1.2) translateX(-.25rem);

        }
      }

      .nav-img {
        opacity: 1;
        transform: translateX(-1rem) rotate(15deg) scale(1.4);
        box-shadow: 0px 0px 15px $color-white;
      }

      .nav-icon {
        opacity: 1;
        transform: translateX(-2rem);
      }
    }


  }

  &-header {
    &-title {
      font-size: 4rem;
      display: inline-block;
      transition: .5s;
    }

    &-word {
      display: inline-block;
      transition: .5s;
    }

    &-content {
      font-size: 1.5rem;
    }
  }

  &-img {
    width: 15rem;
    height: 10rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: .5s;
  }

  &-icon {
    font-size: 4rem;
    opacity: 0;
    transition: .5s;
  }
}