@use "sass:math";

@function randomNum($max, $min: 0, $u: 1) {
	@return ($min + random($max)) * $u;
}

@function shadowSet($n, $size, $w: 500, $h: 500) {
  $shadow : 0 0 0 0 #fff;

  @for $i from 0 through $n {
    $x: randomNum($w);
    $y: randomNum($h);
    $scale: randomNum($size) / 10;

    $shadow: $shadow, #{$x}px #{$y}px 0 #{$scale}px rgba(255, 255, 255, 0.8);
  }

  @return $shadow;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;

  background: black;
  overflow: hidden;
  .star {
    background: white;
    border-radius: 9999px;
    &.small {
      width: 1px;
      height: 1px;
      box-shadow: shadowSet(500, 10, 2000, 1000);
      animation: star-move 60s linear infinite;
    }
    &.big {
      width: 2px;
      height: 2px;
      box-shadow: shadowSet(200, 10, 2000, 1000);
      animation: star-move 80s linear infinite;
    }
  }
}

.planet {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1100px;
  height: 1100px;
}

.road {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #888;
  &.earth {
    width: 60%;
    height: 60%;
    border: 1px solid currentColor;
    border-radius: 9999px;
    animation: planet-rotate 6s linear infinite;
    .ball {
      position: absolute;
      left: calc(50% - 15px);
      top: -15px;
      width: 30px;
      height: 30px;
      background: linear-gradient(to top, #6fa8ea 10%, #008cff 50%, #6fa8ea 90%);
      border-radius: 9999px;
      animation: self-rotate 6s linear infinite;
    }
  }
  &.jupiter {
    width: 100%;
    height: 100%;
    border: 1px solid currentColor;
    border-radius: 9999px;
    animation: planet-rotate 72s linear infinite;
    .ball {
      position: absolute;
      left: calc(50% - 30px);
      top: -30px;
      width: 60px;
      height: 60px;
      background: linear-gradient(to top, #ff6f00 10%, #d43100 50%, #ff6f00 90%);
      border-radius: 9999px;
      animation: self-rotate 72s linear infinite;
    }
  }
}

.sun {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 14rem;
  height: 14rem;
  border-radius: 9999px;
  background: #ffc200;
  transition: all .3s;
  filter: brightness(1.1) drop-shadow(0 0 10px #ffc200);
  &:hover{
    cursor: pointer;
    scale: 1.2;
    filter: brightness(1.1) drop-shadow(0 0 30px #ffc200);
  }
}