.winter-box {
  position: relative;
  width: 100vw;
  height: 100vh;
  @include background('../assets/img/nav-winter.jpg',
    $color-black,
    $color-white);

  .snow {
    border-radius: 50%;

    &-big {
      width: 3px;
      height: 3px;
      box-shadow: shadowSet(200, 10, 2000, 500);
      animation: star-move 80s linear infinite;
    }

    &-small {
      width: 1px;
      height: 1px;
      box-shadow: shadowSet(500, 15, 2000, 630);
      animation: star-move 60s linear infinite;
    }
  }
}

.change {
  display: flex;
  justify-content: center;
}


.interval {
  width: 100vw;
  height: 20vh;
}